.card {
    user-select: none;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.317);
}

.photo-description {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.photo-description-body {
    background-color: #44446a;
}
